{% block content %}
{% load static %}

{% include 'header.html' %}

    <!-- Contact Start -->
    <div class="container-fluid py-5">
        <div class="container py-5">
            <div class="text-center mb-3 pb-3">
                <h6 class="text-primary text-uppercase" style="letter-spacing: 5px;">Test</h6>
                <h1>Upload File</h1>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="contact-form bg-white" style="padding: 30px;">
                        <div id="success"></div>
                        <form  action="addimg" method="post" id="contactForm" enctype="multipart/form-data" novalidate="novalidate">
                            {% csrf_token %}
                            <div class="form-row">
                                
                              
                            </div>
                           
                            <div class="control-group">
                                <input type="file" class="form-control p-4" id="subject" name="image" placeholder="Image"
                                    required="required" data-validation-required-message="Please enter a subject" />
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="control-group">
                                <input type="text" class="form-control p-4" id="subject" hidden value="result" name="result" placeholder="Image"
                                    required="required" data-validation-required-message="Please enter a subject" />
                                <p class="help-block text-danger"></p>
                            </div>
                           
                            <div class="text-center">
                                <button class="btn btn-primary py-3 px-4" type="submit" id="sendMessageButton">Upload</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Contact End -->

{% include 'footer.html' %}

{% endblock %}